* {
    font-family: arial,sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
}

#nav_principal {
    /*   background: #baf9d6;*/
    background: #8db594;
    height: 40px;
    padding-top: 2px;
}


#lista {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    list-style: none;
}


#lista li a {
        margin-top: 3px;
        text-decoration: none;
        outline: none;
        color: white;
        padding: 7px;
        border: 1px solid rgba(0,0,0,0);
}

#lista li :hover {
        border: 1px solid white;
        border-radius: 5px;
        padding: 7px;
}

#formPincipal {
    margin: auto;
    height: 95vh;
    background: #eeeeee;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    color: #8db594;
}

#datos_estudiante {
    position: relative;
    top: 10%;
    border: 2px solid #8db594;
    border-radius: 10px;
    width: 900px;
    margin: auto;
    color: #8db594;
}

#datos_estudiante_uno {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

    #datos_estudiante_uno input {
        border-radius: 5px;
        height: 23px;
        border: 1px;
        outline: none;
    }

.lb_id_estudiante {
    position: relative;
    right: 9%;
}

#datos_estudiante_uno label {
}

#datos_estudiante_dos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

    #datos_estudiante_dos input {
        outline: none;
        border-radius: 5px;
        height: 23px;
        border: 1px;
    }

#datos_estudiante_tres {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

    #datos_estudiante_tres input {
        outline: none;
        border-radius: 5px;
        height: 23px;
        border: 1px;
    }


#select_carrera {
    border-radius: 5px;
    height: 23px;
    border: 1px;
    width: 350px;
}

#datos_estudiante_cuatro {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

    #datos_estudiante_cuatro p {
        margin-right: 10px;
    }

    #datos_estudiante_cuatro label {
        margin-right: 10px;
    }

#select_beca {
    margin-right: 10px;
}


#cursos_dos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

#cursos_dos input {
        outline: none;
        width: 150px;
        border-radius: 5px;
        height: 23px;
        border: 1px;
}

#datos_cursos_tres {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

#datos_cursos_tres select {
        outline: none;
        border-radius: 5px;
        height: 23px;
        border: 1px;
}

#datos_tabla_cursos {
    padding: 5px;
    text-align: center;
    margin-top: 150px;
    border: 2px solid #8db594;
    border-radius: 8px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #8db594;
}

.sub_datos_tabla_cursos {
    position: absolute;
    left: 27.6%;
    top: 35%;
    margin-top: 170px;
    border: 2px solid #8db594;
    border-radius: 8px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #8db594;
}

.gvtab {
    padding: 5px;
    text-align: center;
    margin-top: 150px;
    border: 2px solid #8db594;
    border-radius: 8px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #8db594;
}
.bodyLogin {
    font-family: arial,sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #eeeeee;
    display: flex;
    align-items: center;
    align-content:center;
}

.mainLogin {
    border: 2px solid #8db594;
    border-radius: 8px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding:35px;
}
#formlogin {
    display: flex;
    align-items: center;
    align-content: center;
    margin: auto;
    height: 95vh;
    background: #eeeeee;
}
.data-form{
    display:flex;
    flex-direction:column;
    margin-top:15px;
}

.labelLogin {
    margin-bottom: 10px;
    color: #8db594;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font: bold;
}

.btn_login {
    margin-top: 15px;
    height: 30px;
    width: 100px;
    background: #8db594;
    border: none;
    border-radius: 6px;
    color: white;
}

.form-login {
    outline: none;
    border: none;
    width: 200px;
    border-radius: 5px;
    height: 23px;
    border: 1px;
}

.matricula-uno{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.matricula-uno select {
        border-radius: 5px;
        height: 23px;
        width:150px;
        border: 1px;
        outline: none;
        margin-top:16px;
}
.btn_mostrar {
    width: 150px;
    height: 23px;
}

.matricula-dos {
    display: flex;
    justify-content: space-around;
}

.matricula-tres {
    display: flex;
    justify-content: space-around;
    margin-top:16px;
    margin-bottom:16px;
}

.btn_mostrar {
    margin-top: 15px;
    height: 30px;
    width: 140px;
    background: #8db594;
    border: none;
    border-radius: 6px;
    color: white;

}

.btn_matricular {
    margin-top: 15px;
    height: 30px;
    width: 80px;
    background: #8db594;
    border: none;
    border-radius: 6px;
    color: white;
}